#country {
  padding: 100px 0;

  h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 49px;
    text-align: left;
    color: #212121;
    padding: 50px 0;
  }

  .country {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1144px;
    height: 196px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
    margin: 30px 0;
    transition: .3s;

    &:hover {
      height: 210px;
      transition: .3s;
    }

    &--selects {
      display: flex;
      align-items: center;
      justify-content: start;
      outline: none;
      border: none;
      margin-left: -10px;

      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: #fdfdfd;
        text-align: center;
        font-size: 17px;

        option {
          border: none;
          outline: none;
          padding: 20px 300px;

        }
      }

      &__options {
        margin: 0 0 0 55px;
      }
    }

    &--one {


      h4 {
        color: #b5b5b5;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0 0 20px 0;
        display: flex;
      }

      h3 {
        color: #1aa2ee;
        font-family: Gilroy, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      h5 {
        color: var(--text-212121, #212121);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      &--selects {
        display: flex;
        align-items: center;
        justify-content: start;
        outline: none;
        border: none;
        margin-left: -25px;


        select {
          cursor: pointer;
          outline: none;
          border: none;
          background: #fdfdfd;
          text-align: center;
          font-size: 17px;

          option {
            border: none;
            outline: none;
            padding: 20px 300px;

          }
        }

        &__options {
          margin: 0 0 0 55px;
        }
      }

    }
  }
}

#hello {
  width: 130px;
  border: none;
  outline: none;
  margin: 0 10px;
}

#hello1 {
  width: 150px;
  border: none;
  outline: none;
  margin: 0 10px;
}

#hello2 {
  width: 100px;
  border: none;
  outline: none;
  margin: 0 10px;
}

.pagination1 {
  button {
    width: 80px;
    height: 40px;
    margin: 0 10px;
    background: #1aa2ee;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;

    &:hover {
      background: #fff;
      color: #1aa2ee;
      transition: .4s;
      border: 2px solid #1aa2ee;
    }

  }
}


@media (max-width: 1200px) {
  #country .country {
    width: 1073px;
  }
}

@media (max-width: 1024px) {
  #country .country {
    width: 893px;
  }
}


@media (max-width: 768px) {
  #country .country {
    width: 695px;
  }
}


@media (max-width: 576px) {
  #country .country--one h4 {
    display: none;
  }
  #country .country--one h5 {
    display: none;
  }
  #country .country {
    width: 584px;
  }
  #country .country--selects select {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  #country .country--selects select {
    font-size: 9px;
  }
  #tabs .tabs--content__active--nikes {
    width: 20rem !important;
  }
  #tabs .tabs--content__active--nike {
    display: none;
  }
  #tabs .tabs--content__photo--photo1 img {
    margin-left: 50px;
  }
  #tabs .tabs--content__photo--photo2 img {
    margin-left: 50px;
  }
  #university .university {
    margin-left: 42px;
  }
  #tabs .tabs--content__active--nikes {
    width: 17rem !important;
  }
  #country .country--selects select {
    font-size: 13px;
    width: 124px;
  }
  #country .country--one h3 {
    font-size: 20px;
  }
  #country .country {
    width: 403px;
  }
}

@media (max-width: 400px) {
  #country .country {
    width: 358px;
    flex-direction: column;
  }
  #country .country--one h3 {
    font-size: 17px;
    margin: 20px;
  }
  #country .country--selects {
    margin-left: -12px;
  }
  #country {
    padding: -14px 0 !important;
  }
  #university .university--text__type {
    width: 276px;
  }
  #university .university--text__spec {
    width: 219px;
  }
  #university .university--text__language {
    width: 192px;
  }
  #university .university--text__type {
    width: 257px;
  }
  #university .university--text__spec {
    width: 207px;
  }
}

@media (max-width: 320px) {
  #country .country--one h3 {
    display: none;
  }
  #country .country--selects {
    flex-direction: column;
    margin-left: -177px;
  }
  #footer .footer h1 {
    width: 239px;
  }
  #country .country {
    width: 15rem;
  }
  #university .university--title img {
    width: 15rem;
  }
  #university .university--text__type {
    width: 12rem;
  }
  #university .university--text__spec {
    width: 9rem;
  }
  #university .university--text__spec h2 {
    margin: 0.49px 0 0 102px;
    font-size: 11px;
  }
  #university .university--text__language {
    width: 8rem;
  }
  #tabs .tabs--content__active--nike__fee--no {
    width: 244px;
  }
  #tabs .tabs--content__active--nike__awards h2 {
    width: 246px;
  }
  #tabs .tabs--content__active--nike__awards h2 {
    width: 249px;
    font-size: 17px;
  }
  #tabs .tabs--content__active--nike__awards {
    margin-bottom: 54px;
  }
  #tabs .tabs--content__active--nikes {
    width: 18rem !important;

    #tabs .tabs--content__photo--photo2 img {
      margin-left: 50px;
    }

    #university .university {
      margin-left: 42px;
    }

    #tabs .tabs--content__active--nikes {
      width: 17rem !important;
    }
  }
}