#university {
  padding: 0 0 148px 0;

  .university {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      h1 {
        color: #1AA2EE;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 66px;
      }

      img {
        width: 614px;
      }
    }

    &--text {
      margin: 120px 0 0 0;

      &__location {
        padding: 12.9px 98.457px 16.1px 40.543px;
        align-items: center;
        border-radius: 1.843px;
        border: 1px solid #BBB;

        h1 {
          color: var(--text-212121, #212121);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;

          span {
            margin: 0 10px 0 0;
            color: rgba(51, 51, 51, 0.50);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
          }
        }
      }

      &__date {
        margin: 13px 0 13px 0;
        padding: 12.9px 144.457px 17.1px 40.543px;
        align-items: center;
        border-radius: 1.843px;
        border: 1px solid #BBB;


        h1 {
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
          width: 200px;

          span {
            color: rgba(51, 51, 51, 0.50);
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      &__type {
        width: 450px;
        height: 85px;
        padding: 12.9px 49.54px 17.1px 43.46px;
        align-items: center;
        border-radius: 1.843px;
        border: 1px solid #BBB;

        h1 {
          color: #212121;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;

          span {
            color: rgba(51, 51, 51, 0.50);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
          }
        }

        h2 {
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
          margin: 0 0 0 161px;
        }
      }

      &__spec {
        margin: 13px 0 13px 0;

        padding: 30.41px 104.46px 0 40.54px;
        width: 398px;
        height: 246px;
        flex-shrink: 0;
        background: #FDFDFD;
        box-shadow: 4.607201099395752px 7.371521949768066px 22.114566802978516px 0 rgba(0, 0, 0, 0.10);

        h1 {
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: lowercase;
          width: 600px;

          span {
            color: rgba(51, 51, 51, 0.50);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
          }
        }

        h2 {
          margin: 7.49px 0 0 107px;
          color: var(--text-212121, #212121);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
        }
      }

      &__language {
        display: inline-flex;
        padding: 12.9px 129.457px 16.1px 40.543px;
        align-items: center;
        border-radius: 1.843px;
        border: 1px solid #BBB;
        width: 370px;

        h1 {
          color: var(--text-212121, #212121);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;

          span {
            color: rgba(51, 51, 51, 0.50);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}





@media (max-width: 1200px) {
  #university .university--title img {
    width: 480px;
  }
  #tabs .tabs--bloc {
    width: 1116px;
  }
}

@media (max-width: 1024px) {
  #university .university--title img {
    width: 370px;
    margin: 24px;
  }
  #tabs .tabs--bloc {
    width: 53rem;
  }
  #tabs .tabs--content__active {
    flex-direction: column;
    align-items: center;
  }
  #tabs .tabs--content__photo--photo1 img {
    margin: -4px 10px 40px 0;
    width: 308px;
    height: 264px;
  }
  #tabs .tabs--content__photo--photo2 img {
    margin: -9px 32px -1px 2px;
    width: 281px;
    height: 285px;
  }#tabs .tabs .tabs1 {
     width: 904px;
   }
}

@media (max-width: 992px) {
  #university .university--text {
    margin: 126px 0 0 -32px;
  }
  #university .university--title img {
    width: 305px;
    margin: -12px;
  }
  #tabs .tabs--bloc {
    width: 51rem;
  }
}

@media (max-width: 768px) {
  #university .university {
    flex-direction: column;
  }
  #tabs .tabs--bloc {
    width: 40rem;
  }
  #tabs .tabs .tabs1 {
    width: 709px;
  }
  #university .university--title img {
    width: 439px;
    margin: -12px;
  }
}

@media (max-width: 576px) {
  #tabs .tabs--bloc {
    width: 30rem;
  }
  #tabs .tabs .tabs1 {
    width: 528px;
  }
}

@media (max-width: 450px) {
  #university .university--text {
    margin: 152px 0 0 -32px;
    width: 21rem;
  }
  #university .university--title img {
    width: 367px;
  }
  #university .university--text__type {
    width: 285px;
  }
  #university .university--text__spec {
    width: 240px;
  }
  #university .university--text__language {
    width: 217px;
  }
  #tabs .tabs--bloc {
    width: 23rem;
  }
  #tabs .tabs .tabs1 {
    width: 408px;
  }
}

@media (max-width: 400px) {
  #tabs .tabs--bloc {
    width: 20rem;
  }
  #tabs .tabs .tabs1 {
    width: 357px;
  }
  #tabs .tabs--content__active--nike {
    width: 43rem;
  }
  #tabs .tabs--content__active--nikes {
    width: 16rem;
  }
  #tabs .tabs--content__active--nikes__list {
    width: 292.021px;
  }
  #university .university--text__spec {
    width: 200px;
  }
  #university .university--text__language {
    width: 180px;
  }
  #tabs .tabs--content__active--nikes__now h1 {
    padding: 15px 79px 15px 27px;
    //width: 152px;
  }
  #university .university--text {
    margin: 152px 0 0 -29px;
  }
  #university .university--text__type {
    width: 252px;
  }
  #university .university--text__type h1 {
    font-size: 15px;
  }
  #university .university--text__date h1 span {
    color: rgba(51, 51, 51, 0.5);
    font-size: 20px;
  }
  #university .university--text__date{
    width: 161px;
  }
  #university .university--text__location {
width: 208px;
  }
  #university .university--text__spec h1 {
    width: 300px;
  }
  #university .university--title img {
    width: 290px;
  }



}

@media (max-width: 375px) {
  #university .university--title img {
    width: 324px;
  }
  #university .university--title h1 {
    font-size: 34px;
  }
  #tabs .tabs--bloc {
    width: 19rem;
  }
  #tabs .tabs .tabs1 {
    width: 341px;
  }
  #country .country {
    width: 332px;
  }
  #country .country--selects select {
    width: 116px;
  }
  #tabs .tabs--content__active--nike {
    width: 43rem;
  }
  #tabs .tabs--content__active--nikes {
    width: 18rem;
  }
  #tabs .tabs--content__active--nikes__list {
    width: 325.021px;
    height: 1px;
    background: #212121;
    margin-top: 40px;
    margin-bottom: 54px;
  }
  #tabs .tabs--content__active--nikes {
    width: 15rem;
  }
  #university .university--text {
    width: 25rem;
  }
  #university .university--text {
    width: -15rem;
  }
  #university .university--text {
    margin: 60px 0 0 77px;
  }
  #university .university--text {
    margin: 129px 0 0 -43px;
    width: 375px;
  }
}

@media (max-width: 320px) {
  #tabs .tabs--bloc {
    width: 16rem;
  }
  #tabs .tabs .tabs1 {
    width: 284px;
  }
  #university .university--text {
    margin: 152px 0 0 -32px;
    width: 17rem;
    padding: 0;
  }
  #university .university--title img {
    width: 250px;
  }
  #university .university--text__location {
    width: 140px;
  }
  #university .university--text__date {
    width: 95px;
  }
  #university .university--text__type {
    width: 187px;
  }
  #university .university--text__language {
    width: 130px;
  }
  #university .university--text__spec {
    width: 149px;
  }
  #university .university--text__spec h1 {
    width: 194px;
  }
  #tabs .tabs--content__active--nikes {
    width: 12rem !important;
    height: 1090px;
  }
  #tabs .tabs--content__active--nikes__list {
    width: 220px;
  }
  #university .university--text__type h1 span {
    font-size: 15px;
  }
  #university .university--text__type h2 {
    margin: 0 0 0 0px;
  }
  #university .university--text__spec {
    width: 136px;
  }
  #university .university--text__spec h2 {
    margin: 7.49px 0 0 4px;
    font-size: 20px;
  }
  #university .university--text__language {
    width: 110px;
    margin-bottom: 100px;
  }
  #tabs .tabs--content__active--nikes__not h1 {
    padding: 12px 0 0 16px;
    text-align: center;
    font-size: 17px;
  }
  #tabs .tabs--bloc__description {
    width: 111px;
    font-size: 19px;
  }
  #tabs .tabs--bloc__cost {
    font-size: 19px;
  }
  #tabs .tabs--bloc__photo {
    width: 111px;
    font-size: 19px;
  }
  #tabs .tabs--content__active--nikes__nots--calendar h6 {
    font-size: 18px;
    padding-top: 10px;
  }
  #tabs .tabs--content__active--nikes__nots--calendar p {
    color: #212121;
    font-size: 18px;
  }
  #tabs .tabs--content__active--nikes__nots img {
    margin-bottom: 113px;
    margin-right: 20px;
    font-size: 10px;
  }
  #tabs .tabs--content__active--nikes__cat--cast h6 {
    font-size: 18px;
  }
  #tabs .tabs--content__active--nikes__cat--cast p {
    color: #212121;
    font-size: 18px;
  }
  #tabs .tabs--content__active--nikes__study--studies p {
    margin-top: 10px;
    font-size: 18px;
  }
  #tabs .tabs--content__active--nikes__now h1 {
    width: 140px;
    font-size: 17px;
  }
  #tabs .tabs--content__active--nikes__now {
    width: 100%;
    height: 65px;
  }
  #tabs .tabs--content__active--nikes__eli h3 {
    width: 278px;
    font-size: 18px;
  }
  #university {
    padding: 170px 0 0 0;
  }
  #tabs .tabs--content__active--nikes__sr--srs h5 {
    font-size: 18px;
  }
  #tabs .tabs--content__active--nikes__wat {
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
  }





}